@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
}

header h1 a {
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #mainMenu {
    display: flex;
    list-style-type: none;
}

nav #mainMenu li a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .2s ease;
}

nav #mainMenu li a:hover {
    color: #F3A712;
}

nav #closeMenu:hover {
    color: #F3A712;
}

nav #openMenu:hover {
    color: #F3A712;
}


nav #openMenu {
    font-size: 2rem;
    margin: 1rem;
    display: none;
    cursor: pointer;
}

nav #mainMenu #closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    transition: all .2s;
}


nav a:hover {
    position: relative;
}

nav a::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #F3A712;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
}

nav a:hover::before {
    position: absolute;
    visibility: visible;
    transform: scaleX(1);
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

    max-width: 900px;
    margin: auto;
}

.section1 h1 {
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
}

.section p, a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.section1 .role {
    display: flex;
    place-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    animation: bouncy 1s ease-in-out 10;
}

.section p, a:hover {
    color: #F3A712;
}

p:hover .fa-solid.fa-arrow-right {
    margin-left: 1rem;
    transition: all .3s;
}

.parallax {
    width: 100%;
    height: 50vh;
    position: relative;
    padding-top: 2rem;
}

.parallax::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("./imagens/photo-parallax.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main {
    max-width: 900px;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main p {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

section {
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

section h1 {
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
}

section p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 25px;
}

.image-container img {
    width: 100%;
    height: 100%;
    margin: 1rem;
    opacity: 1;
    transition: all .4s;
}

.image-container:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: all .4s;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.text-container:hover {
    transition: all .5s;
    opacity: 1;
}

.text-container a {
    text-decoration: underline;
    color: #fff;
}

.fundo {
    background-color: antiquewhite;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 2rem;
    height: 40vh;
}

.fundo-section2 {
    background-color: #f5f5f5;
}

.section2 h1 {
    color: #000;
    font-family: "Roboto", sans-serif;
}

.section2 p {
    color: #000;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.tabela {
    max-width: 900px;
    margin: auto;
}

.tabela h2 {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
}

.tabela p {
    font-family: "Roboto", sans-serif;
}

thead {
    border: 1px solid #000;
    border-bottom: 5px solid #000;
    text-align: center;
    background-color: #fff;
}

td {
    border: 1px solid #000;
    padding: 15px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

table {
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    background-color: #111;
    padding: 0.2rem;
}

footer p {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

footer p a {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #fff;
    transition: all .2s;
}

@keyframes bouncy {
    0%, 100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(40%);
    }
}

@media(max-width: 700px) {
    nav #mainMenu {
        height: 100vh;
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        transition: top 1s ease 0s;
        z-index: 1000;
    }

    nav #mainMenu #closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav #openMenu {
        display: block;
    }

    nav #mainMenu li {
        margin-bottom: 2rem;
    }

    nav #mainMenu li a {
        font-size: 3.5rem;
    }

    .parallax {
        height: 30vh;
    }

    main {
        max-width: 350px;
    }

    main p {
        font-size: 1rem;
    }

    .section1 {
        gap: 1rem;
        max-width: 350px;
        
    }
    
    .section1 h1 {
        font-size: 3rem;
    }
    
    .section p, a {
        font-size: 1rem;
    }

    section {
        max-width: 350px;
    }
    
    section h1 {
        font-size: 3rem;
    }
    
    section p {
        font-size: 1rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }
    
    .image-container {
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin-bottom: 25px;
    }    

    .section2 {
        max-width: 350px;
    }
    
    .section2 h1 {
        font-size: 2rem;
    }
    
    .section2 p {
        font-size: 1rem;
    }

    .tabela {
        max-width: 350px;
        margin: auto;
    }
    
    .tabela h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3rem;
    }
    
    td {
        width: 200px;
    }
    
    table {
        max-width: 400px;
        margin: auto;
        border-collapse: collapse;
        overflow: hidden;
        font-family: "Roboto", sans-serif;
        margin-bottom: 2rem;
    }
}