@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    margin-bottom: 3rem;
}

.header-a {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    color: #111;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.header-a:hover {
    color: #F3A712;
}

nav #mainMenu {
    display: flex;
    list-style-type: none;
}

nav #mainMenu li a {
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.2rem;
    color: #000;
    transition: .2 ease;
}

nav #mainMenu li a:hover {
    color: #F3A712;
}

nav #openMenu:hover {
    color: #F3A712;
}

nav #closeMenu:hover {
    color: #F3A712;
}

nav #openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    margin: 1rem;
}

nav #mainMenu #closeMenu {
    cursor: pointer;
    font-size: 2rem;
    display: none;
    transition: all .2s;
}

nav a:hover {
    position: relative;
}

nav a::before {
    content: "";
    width: 100%;
    height: 2px;
    visibility: hidden;
    background-color: #F3A712;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
}

nav a:hover::before {
    position: absolute;
    visibility: visible;
    transform: scaleX(1);
}

section {
    max-width: 900px;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

section h1 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
}

.titulo {
    border-bottom: 2px solid #000;
}

section p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

section .icon-email {
    color: #000;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    transition: all .3s;
}

section .icon-email:hover {
    color: #F3A712;
}

.grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.grid-main img {
    width: 500px;
    margin-bottom: 2rem;
    opacity: 1;
    transition: all .5s;
}

.grid-main h1 a {
    font-size: 3rem;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}

.grid-main h1 a:hover {
    color: #F3A712;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.grid-main img:hover {
    transform: scale(1.05);
}

.grid-other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.grid-other img {
    width: 300px;
    height: 300px;
    transition: all .3s;
}

.grid-other img:hover {
    transform: scale(1.05);
}

.grid-other h2 a {
    color: #000;
    font-size: 1.7rem;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    transition: all .2s;
}

.grid-other h2 a:hover {
    color: #F3A712;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.fundo {
    background-color: #f5f5f5;
}

.email {
    max-width: 900px;
    margin: auto;
    height: 300px;
    color: #000;
}

.email div {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 50px;
}

.email p {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.email a {
    text-decoration: underline;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    transition: all .3s;
}

.email a:hover {
    color: #F3A712;
}

.info {
    display: flex;
    place-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
    margin: auto;
    height: 50vh;
    font-family: "Roboto", sans-serif;
}

.info div {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    color: #000;
}

.info div p span {
    background-color: #F3A712;
    border-radius: 5px;
}

.fundo-footer {
    background-color: #111;
}

footer {
    padding: 0.2rem;
    width: 100%;
    margin: auto;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

footer p a {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #fff;
    transition: all .2s;
}

footer p a:hover {
    color: #F3A712;
}

footer .copyright {
    text-align: center;
}

@media(max-width: 1200px) {
    nav #mainMenu {
        height: 100vh;
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        transition: top 1s ease 0s;
        z-index: 1000;
    }

    nav #mainMenu #closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav #openMenu {
        display: block;
    }

    nav #mainMenu li {
        margin-bottom: 3rem;
    }

    nav #mainMenu li a {
        font-size: 2.5rem;
    }

    section {
        max-width: 350px;
    }
    
    section h1 {
        font-size: 2.5rem;
    }
    
    section p {
        font-size: 1rem;
    }
    
    section .icon-email {
        font-size: 1.3rem;
    }
    
    section .icon-email:hover {
        color: #F3A712;
    }
    
    .grid-main {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .grid-main img {
        display: block;
        margin: 0 auto;
        width: 350px;
        margin-bottom: 0;
    }
    
    .grid-main h1 a {
        font-size: 2rem;
    }
    
    .grid-other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.8rem;
    }
    
    .grid-other img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }

    .grid-other div {
        border-bottom: 2px solid #222;
    }
    
    .grid-other h2 a {
        color: #000;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
    }
    
    .grid-other h2 a:hover {
        text-decoration: underline;
        text-underline-offset: 0.4rem;
        color: #F3A712;
    }

    .email {
        max-width: 350px;
        height: 30vh;
    }
    
    .email p {
        font-size: 1.2rem;
    }
    
    .email a {
        font-size: 1.2rem;
    }
    
    .email a:hover {
        color: #F3A712;
    }
    
    .info {
        max-width: 350px;
    }
    
    .info p {
        font-size: 1.2rem;
    }
    
    footer {
        max-width: 350px;
    }
}